<% html_title "My Plugin" %>
<div class="widget-box">
  <div class="widget-box--header">
    <h2 class="widget-box--header-title">My Plugin</h2>
  </div>
  <ul class="widget-box--arrow-links">
    <li>
      <%= link_to "Go to My Plugin",
                  my_plugin_path,
                  title: "My Plugin" %>
    </li>
  </ul>
</div>
