<% html_title "My Plugin" %>

<div class="op-app--body">
  <main class="op-main">
    <div class="op-content--container">
      <div class="op-toolbar">
        <div class="op-toolbar--title">
          <h2>My Plugin</h2>
        </div>
      </div>
      
      <div class="op-content--row">
        <div class="op-widget-box">
          <div class="op-widget-box--header">
            <h3 class="op-widget-box--header-title">Welcome to My Plugin</h3>
          </div>
          <div class="op-widget-box--content">
            <p>This is a custom OpenProject plugin properly integrated with the UI.</p>
            <p>You can add your plugin content here.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

